@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito&display=swap");
HTML {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Comfortaa", cursive;
}

p, li, a, label {
  font-family: "Nunito", sans-serif;
  color: #000;
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 2%;
  overflow-x: hidden;
}
.container .home-section {
  height: 100vh;
  width: 100%;
  display: grid;
  position: relative;
  grid-template-rows: 83vh 17vh;
}
.container .home-section li {
  list-style: none;
}
.container .home-section header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  height: 8vh;
  background: #ffffff;
  z-index: 10;
  padding: 0% 2% 0% 2%;
}
.container .home-section header .logo-column {
  display: none;
}
.container .home-section header .menu {
  display: none;
}
.container .home-section header .menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}
.container .home-section header .menu-btn .menu-btn__burger {
  width: 30px;
  height: 3px;
  background: #000;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.container .home-section header .menu-btn .menu-btn__burger::before,
.container .home-section header .menu-btn .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #000;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.container .home-section header .menu-btn .menu-btn__burger::before {
  transform: translateY(-8px);
}
.container .home-section header .menu-btn .menu-btn__burger::after {
  transform: translateY(8px);
}
.container .home-section .logo-column {
  position: absolute;
  background: #000;
  padding: 0.1em 0.2em 0em 0.2em;
  top: 14vh;
  left: -35px;
  transform: rotateZ(90deg);
  min-width: 82.38px;
  z-index: 8;
}
.container .home-section .logo-column .logo {
  position: relative;
}
.container .home-section .logo-column .logo p {
  font-size: 20px;
  color: #ffffff;
}
.container .home-section .logo-column .logo span {
  font-size: 10px;
  position: absolute;
  top: 15%;
  color: #ffffff;
}
.container .home-section .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.container .home-section .text h1 {
  font-size: 1.8em;
}
.container .home-section .text:before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: solid 1px #20B9FC;
  z-index: -1;
}
.container .home-section .credits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .home-section .credits img {
  height: 100%;
}
.container .home-section .credits .credits-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container #About {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container #About h1 {
  margin-bottom: 8px;
}
.container #About .list {
  padding-left: 6%;
  padding-right: 4%;
}
.container #About .list li {
  margin-bottom: 4px;
  font-size: 18px;
}
.container #contacts {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container #contacts form {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=index.css.map */
