    // IMPORT COMFORTAA FONT
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
    // IMPORT NUNITO FONT
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
    // IMPORT SANSATION FONT
    @import url(//db.onlinewebfonts.com/c/00370d92f1b404768d34ac7dc664289e?family=Sansation);
     :root {
        --darkblue: #15192B;
        --blue: #5540FB;
        --lightblue: #20B9FC;
        --orange: #FB6B30;
        --white: #ffffff;
        --typewriterSpeed: 3s;
        --typewriterCharacters: 18;
    }
    
    HTML {
        scroll-behavior: smooth;
    }
    
    a {
        text-decoration: none;
    }
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    //======================HOPE PAGE ================
    .home-section {
        height: 100vh;
        display: flex;
        padding: 1em;
    }
    
    .logo {
        transform: rotate(90deg);
        background-color: #000000;
        position: absolute;
        bottom: 60%;
        left: -27px;
        padding: .5em .7em;
        h1,
        span {
            color: #ffffff;
            font-family: 'Comfortaa';
            font-size: 14px;
            font-weight: 400;
        }
        span {
            position: relative;
            bottom: 1ex;
            font-size: 60%;
        }
    }
    
    .menu {
        position: fixed;
        top: 6px;
        right: 25px;
    }
    
    .line1,
    .line2,
    .line3 {
        width: 35px;
        height: 5px;
        margin: 8px 0;
        background-color: #000000;
    }
    
    .home_header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 20%;
        bottom: 4%;
    }
    
    .home_header .text {
        font-family: 'Comfortaa';
        width: max-content;
        font-size: .8rem;
        display: flex;
        text-align: center;
        max-width: 190px;
        flex-direction: column;
    }
    
    .home_header h1 {
        position: relative;
    }
    
    .home_header h1::before,
    .home_header h1::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .home_header h1::before {
        background: white;
        animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
    }
    
    .home_header h1::after {
        width: .125em;
        background: black;
        animation: typewriter var(--typewriterSpeed) steps(22) 1s forwards, blink 750ms steps(22) infinite;
    }
    
    @keyframes blink {
        to {
            background: transparent;
        }
    }
    
    @keyframes typewriter {
        to {
            left: 100%
        }
    }
    
    .credits {
        height: fit-content;
        position: relative;
        top: -2px;
        right: 90px;
        width: fit-content;
        height: 40px;
        font-family: 'Comfortaa';
        line-height: 19px;
    }
    
    .credits p {
        width: 160px;
    }
    
    // ============ END OF HOME PAGE ==============
    // ============ ABOUT PAGE ============
    .about_us-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        padding: 1em;
    }
    
    .about-theo,
    .about-havier {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 35px;
        margin: .7em 0 .7em 0;
        padding: .5em .8em;
        text-align: center;
        border: 5px solid black;
        box-shadow: 3px 3px 4px 2px rgba(21, 25, 43, 0.25);
        ;
        h1 {
            font-size: 1.3rem;
            font-family: 'Sansation';
        }
        h6 {
            text-align: center;
            max-width: 320px;
            font-family: 'Nunito';
            color: rgb(44, 40, 40);
            font-size: .9rem;
        }
    }
    
    .about_header {
        h1 {
            font-size: 2.3rem;
            color: black;
            font-family: 'Nunito';
        }
        hr {
            background-color: var(--orange);
            height: 2px;
            border: none;
        }
        margin-bottom: 1em;
    }
    
    // =========== END OF ABOUT PAGE =========
    // =========== WEBSITE BUILDING PAGE =========
    .website_building-section {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5em;
        * {
            font-family: 'Sansation';
        }
    }
    
    .website_building-section h1 {
        font-family: 'Sansation';
        line-height: 30px;
        font-size: 2rem;
        color: #000000;
        text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.25);
        margin-bottom: 1em;
    }
    
    .website_building-section ul {
        max-width: 250px;
    }
    
    ul li {
        font-size: 1.2rem;
        font-weight: 700;
        color: rgb(41, 40, 40);
        margin: 1.3em 0;
    }
    
    .website_building-section .note {
        max-width: 320px;
        p {
            font-weight: 900;
            font-size: .8rem;
        }
    }
    
    .website_building-section .hire-us-btn button {
        width: 140px;
        margin-top: 2em;
        padding: .4em 1em;
        background-color: var(--blue);
        border: none;
        border-radius: 10px;
        transition: all .16s linear;
        a {
            color: #ffffff;
            font-size: 1.4rem;
        }
    }
    
    .website_building-section .hire-us-btn button:hover {
        transform: translateY(-7px)
    }
    
    // ========== END OF WEBSITE BUILDING PAGE ============
    // =========== CONTACT PAGE ==========
    .contact-section {
        height: 100vh;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .contact-section {
        h1 {
            font-family: 'Sansation';
            line-height: 30px;
            font-size: 1.8rem;
            margin-bottom: 1em;
            color: #000000;
            text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.25);
        }
    }
    
    .contact-section form {
        display: flex;
        flex-direction: column;
        font-family: 'Nunito';
        font-weight: 700;
    }
    
    .contact-section form label {
        margin: 1.5em 0 .1em 0;
        color: rgb(41, 40, 40);
        font-size: 1.1rem;
    }
    
    .contact-section form input {
        height: 34px;
        width: 200px;
        border-radius: 10px;
        padding: .6em .8em;
        background: #EAEAEA;
        transition: all .25s ease;
        border: 2px solid rgba(0, 0, 0, 0.75);
        // transition: all .25s linear;
    }
    
    .contact-section form input:focus {
        animation: animate 1.5s linear forwards;
        outline: none;
        width: 270px;
    }
    
    @keyframes animate {
        0% {
            border-top-color: rgba(0, 0, 0, 0.75);
            border-right-color: rgba(0, 0, 0, 0.75);
            border-bottom-color: rgba(0, 0, 0, 0.75);
            border-left-color: rgba(0, 0, 0, 0.75);
        }
        50% {
            border-top-color: var(--blue);
            border-right-color: rgba(0, 0, 0, 0.75);
            border-bottom-color: var(--blue);
            border-left-color: var(--blue);
        }
        100% {
            border-top-color: var(--blue);
            border-right-color: var(--blue);
            border-bottom-color: var(--blue);
            border-left-color: var(--blue);
        }
    }
    
    .contact-section .message-input {
        height: 120px;
        width: 270px;
    }
    
    .contact-section form button {
        width: 110px;
        margin-top: 2em;
        padding: .4em 1em;
        background-color: var(--blue);
        border: none;
        border-radius: 10px;
        transition: all .16s linear;
        a {
            color: #ffffff;
            font-size: 1.1rem;
            font-family: 'Nunito';
        }
    }
    
    .contact-section form button:hover {
        transform: translateY(-7px)
    }
    
    // =========== END OF CONTACT PAGE ==========
    // =========== FOOTER PAGE ==========
    .footer-section {
        height: 100vh;
        padding: 1em;
    }
    
    .footer-section .footer-header {
        font-family: 'Sansation';
        font-size: 1.6rem;
        max-width: 280px;
        line-height: 30px;
        text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.25);
        margin-top: 2em;
    }
    
    .footer-section img {
        width: 300px;
        height: 200px;
    }
    
    .footer {
        img {
            height: 22px;
            width: 22px;
            margin: .2em;
        }
    }
    
    .footer-credits {
        position: absolute;
        display: flex;
        bottom: 1%;
        left: 1%;
        color: black;
    }
    
    .footer-credits h2 {
        font-size: .7rem;
        font-family: 'Comfortaa';
        span {
            position: relative;
            bottom: 1ex;
            font-size: 60%;
            font-family: 'Comfortaa';
        }
    }
    
    // =========== END OF FOOTER PAGE ==========